<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="HeroOriginalHealth" value="100"/>
		<add key="MaxPower" value="15"/>
		<add key="MaxHealth" value="25"/>
		<add key="WeaponNames" value="Abyssal Blade,Silver Edge,Bloodthorn,Radiance,Daedalus,Monkey King Bar,Ethereal Blade,Diffusal Blade,Desolator,Armlet of Mordiggian"/>
		<add key="ArmorNames" value="Assault Cuirass,Crimson Guard,Blade Mail,Shiva's Guard,Veil of Discord,Glimmer Cape,Vanguard,Aeon Disk,Heart of Tarrasque,Hood of Defiance"/>
		<add key="MonsterNames" value="Storm Spirit,Skywrath Mage,Anti-Mage,Shadow Fiend,Spectre,Chaos Knight,Slardar,Tidehunter,Juggernaut,Zeus"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>